[Unit]
Description=<%= app_name %> daemon

[Service]
Type=simple
Restart=on-failure
TimeoutSec=5
Environment=MIX_ENV=prod
Environment=LANG=en_US.UTF-8
 
WorkingDirectory=/home/pi/apps/<%= app_name %>

ExecStart=/home/pi/apps/<%= app_name %>/bin/<%= app_name %> start
ExecStop=/home/pi/apps/<%= app_name %>/bin/<%= app_name %> stop

[Install]
WantedBy=multi-user.target
